<%- include('../layouts/head.ejs') %>


<div class="row container " style="display: flex; margin-top: 50px; align-items: center; margin: auto; ">
 <div class=" col-sm-6 mt-5" >
    <img src="/public/user/img/omega.jpg" alt="" style="max-width: 100%;">
 </div> 


  <div class="col-sm-6 form_container">
   <form action="/admin" method="post">
      <h1 class="text-center" style="font-size: 36px">Admin Login</h1>
   <div class="mb-4">
     <label for="name" class="form-label form_font_size mb-3 text-center d-block"> Enter your details below</label>
     <% if (messages.invailedmessage) { %>
      <div class="alert alert-danger"><%= messages.invailedmessage %></div>
    <% } %>

    <input type="email" name="email" class=" input_font_size form-control rounded-0 border-0 border-bottom border-dark p-3 "   id="email" placeholder="Enter your email" >
  </div>
    <div class="mb-4">
    <input type="password" name="password" class="input_font_size form-control rounded-0 border-0 border-bottom border-dark p-3"   id="email" placeholder="Enter your Password" >
  </div>
  <button class="btn btn-primary py-2 m-5 input_font_size login-padding " type="submit">Login</button>   
    </form>
  
    
 </div> 
</div>

<%- include('../layouts/foot.ejs') %>