

  <!-- Top Notification Banner -->
  <div class="bg-dark text-white text-center py-2 display-flex">
    <div class="container">
      <p class="mb-0">
        Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!  
        <a href="#" class="btn btn-light text-primary">SHOP NOW</a>
      </p>
    </div>
  </div>

   <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="index.html">
                    <img src="/public/admin/img/logo.png" alt="Logo" style="height: 90px;">
                </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sign-up.html">Sign Up</a>
          </li>
        </ul>
        <form class="d-flex me-3">
          <input class="form-control me-2" type="search" placeholder="search here...." aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">
            <img src="/user/img/search.png" alt="Search" style="width: 20px; height: 20px;">
          </button>
        </form>
        <a href="#"><img src="/user/img/heart.png" alt="Favorites" class="me-3" style="width: 20px; height: 20px;"></a>
        <a href="/cart.html">
          <img src="/user/img/cart.png" alt="Cart" style="width: 20px; height: 20px;">
        </a>
      </div>
    </div>
  </nav>

