<%- include('../layouts/user/userhead') %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center" style="font-size: 300px;">404</h1>
      <h1 class="text-center">Page Not Found</h1>
    </div>
  </div>
</div>
<%- include('../layouts/user/userfoot') %>