<div class="container-fluid page-body-wrapper">

  <nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin" >
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-category">YOUR ITEMS</li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/userManagment" aria-expanded="false" aria-controls="form-elements" >
        <i class="menu-icon fa fa-group"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/productManagment" aria-expanded="false" aria-controls="form-elements">
        <i class="menu-icon fa fa-cube"></i>
        <span class="menu-title">Products</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orderManagment" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon fa fa-handshake-o"></i>
        <span class="menu-title">Orders</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/catogoryManagment" aria-expanded="false" aria-controls="tables">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Categories</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="/adimin/brandManagment" aria-expanded="false" aria-controls="icons">
        <i class="menu-icon mdi mdi-layers-outline"></i>
        <span class="menu-title">Brands</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/couponManagment" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon fa fa-tags"></i>
        <span class="menu-title">Coupon</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="/admin/offerManagment" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon fa fa-money"></i>
        <span class="menu-title">Offer</span>
      </a>
    </li>
  <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon fa fa-laptop"></i>
        <span class="menu-title">Banner</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../docs/documentation.html">
        <i class="menu-icon mdi mdi-file-document"></i>
        <span class="menu-title">Documentation</span>
      </a>
    </li>
  </ul>
</nav>

